<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta charset="utf-8">
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  	<meta name="description" content="">
	  	<meta name="author" content="">
	  	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	  	<link href="css/style.css" rel="stylesheet">
	  	
	  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
		<title>Formulario de ingreso.</title>
	
	</head>
	
	<body>
		
		<p id="titulo">Ingrese los datos del estudiante </p>
		
		<div class="container-fluid">
			
			<form id="formulario" method="post" th:action="resultado">
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="inputName">Nombre</label>
			      <input type="text" class="form-control" id="name" name="name">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="inputLastName">Apellido</label>
			      <input type="text" class="form-control" id="lastname" name="lastname">
			    </div>
			  </div>
			  <div class="form-row">
		  		<div class="form-group col-md-2">
				  <label for="inputBornDate">Fecha de nacimiento</label>
				  <input type="date" class="form-control" id="borndate" name="borndate" min="2003-01-01" max="2020-12-31">
				</div>
				<div class="form-group col-md-10">
				  <label for="inputAddress">Lugar de nacimiento</label>
				  <input type="text" class="form-control" id="address" name="address">
				</div>
			  </div>
			  
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="inputInstitute">Institucion o colegio de procedencia</label>
			      <input type="text" class="form-control" id="institute" name="institute">
			    </div>
			    <div class="form-group col-md-3">
				      <label for="inputphone">Telefono fijo</label>
				      <input type="number" class="form-control" id="phone" name="phone">
			    </div>
			    <div class="form-group col-md-3">
			      <label for="inputMobile">Telefono movil</label>
			      <input type="number" class="form-control" id="mobile" name="mobile">
			    </div>
			  </div>
			  
			  <button type="submit" class="btn btn-primary">Insertar alumno</button>
			</form>
		</div>
		

	
	
	</body>
	
</html>